<html>
        <head>
                <meta charset="utf-8">
                <title>CONTROLANDO A TV</title>
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
				<style>
					.container{
						display: flex;
						align-items: center;
						background-color:white;
					}
					
					h1{
						font-size:100px;
					}
					
					p {
						font-size:70px;
					}
					
					.btn {
						width:250px;
						height:100px;
					}
				</style>
				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <head>
        <body>
			<div class="container" style="width:100%; height:100%">
				<div style="width:100%; text-align:center">
					<h1>FALE UM COMANDO</h1>
						<p id="msg"></p>
					<button class="btn btn-success" id="ouvir" onclick="ouvir()">
						<svg class="bi bi-mic-fill" width="70%" height="70%" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
							<path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
						</svg>
					</button>
				</div>
			</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
		var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
		var escutar = document.getElementById("ouvir");
		var mensagem = document.getElementById("msg");

		function ouvir() {
			  var recognition = new SpeechRecognition();
			  recognition.lang = 'pt-BR';
			  recognition.interimResults = false;
			  recognition.maxAlternatives = 1;

			  mensagem.textContent = 'Escutando...';
			  recognition.start();
			  escutar.disabled = true;
			  recognition.onresult = function(event) {
				// The first [0] returns the SpeechRecognitionResult at position 0.
				// Each SpeechRecognitionResult object contains SpeechRecognitionAlternative objects that contain individual results.
				// These also have getters so they can be accessed like arrays.
				// The second [0] returns the SpeechRecognitionAlternative at position 0.
				// We then return the transcript property of the SpeechRecognitionAlternative object 
				var speechResult = event.results[0][0].transcript;
				mensagem.textContent = 'Eu escutei: '+speechResult;
				console.log('Confidence: ' + event.results[0][0].confidence);
				toServer(speechResult);
			  }

			  recognition.onspeechend = function() {
				recognition.stop();
				escutar.disabled = false;
				escutar.html = '<svg class="bi bi-mic-fill" width="70%" height="70%" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/><path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/></svg>';
				mensagem.textContent = '';
				//ouvir()
			  }

			  recognition.onerror = function(event) {
				escutar.disabled = false;
				msg.textContent = 'Ocorreu um erro no reconhecimento de voz: ' + event.error;
				//setTimeout(function(){ ouvir(); }, 1000);
			  }
			  
			  recognition.onaudiostart = function(event) {
				  //Fired when the user agent has started to capture audio.
				  console.log('SpeechRecognition.onaudiostart');
			  }
			  
			  recognition.onaudioend = function(event) {
				  //Fired when the user agent has finished capturing audio.
				  console.log('SpeechRecognition.onaudioend');
			  }
			  
			  recognition.onend = function(event) {
				  //Fired when the speech recognition service has disconnected.
				  console.log('SpeechRecognition.onend');
			  }
			  
			  recognition.onnomatch = function(event) {
				  //Fired when the speech recognition service returns a final result with no significant recognition. This may involve some degree of recognition, which doesn't meet or exceed the confidence threshold.
				  console.log('SpeechRecognition.onnomatch');
			  }
			  
			  recognition.onsoundstart = function(event) {
				  //Fired when any sound — recognisable speech or not — has been detected.
				  console.log('SpeechRecognition.onsoundstart');
			  }
			  
			  recognition.onsoundend = function(event) {
				  //Fired when any sound — recognisable speech or not — has stopped being detected.
				  console.log('SpeechRecognition.onsoundend');
			  }
			  
			  recognition.onspeechstart = function (event) {
				  //Fired when sound that is recognised by the speech recognition service as speech has been detected.
				  console.log('SpeechRecognition.onspeechstart');
			  }
			  recognition.onstart = function(event) {
				  //Fired when the speech recognition service has begun listening to incoming audio with intent to recognize grammars associated with the current SpeechRecognition.
				  console.log('SpeechRecognition.onstart');
			  }
		}

		function toServer(command){
			command = command.toLowerCase();
			$.ajax({
			  type: "POST",
			  url: '/execute',
			  data: {'command':command},
			  success: function(data) {
					console.log(data)
				}
			});
		}
        </script>
        </body>
</html>

